# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Large Data & Database files (Exceeds GitHub 100MB push limit)
data/silver/*.db
data/bronze/card_transactions.csv
data/bronze/transactions.csv
*.db
*.sqlite3

# Temporary SQLite files
*.db-journal
*.db-wal
